{% extends "base_inner.html" %} {% block title %} About Us {% endblock %}



{% block body %}



<!--Section About-->
<section class="section section-about grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h3><span class="indigo-text text-darken-4">About</span>Us</h3>
        <p>The project is a website with an objective of providing support to the users for preparing for the popular government as well as private sector examinations. The website also acts as an Education Purpose website which is developed by the group members.</p>
          <p>The primary goal of the website is to reduce unemployment and provide support with sufficient information as well as content related to vacancies of government as well as private sector like UPSC, SSC, PPSC, DELHI POLICE, PUNJAB POLICE, INDIAN RAILWAYS, UPPSC, MPPSC, GATE, AFCAT, CDS, OTA, and different private jobs also.</p>
      </div>
      <div class="col s12 m6">
        <img src="/images/tech.jpg" alt="tech" class="circle responsive-img">
      </div>
    </div>
  </div>
</section>


<!--Section Podcast-->
<section class="section section-podcast white-text">
  <div class="primary-overlay valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m8">
          <h4>Get The Latest Updates</h4>
          <p>Weekly update notifications to your mail</p>
        </div>
        <div class="col s12 m4">
          <a class="btn white indigo-text text-darken-4 btn-larger modal-trigger" href="#modal1">
            Subscribe<i class="material-icons  right"> notifications_active</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Testinomials -->
<section class="section section-testimonial grey lighten-4 black-text text-darken-4">
    <div class="container">
      <div class="row left-align">
        <div class="col s12 m6">
          <h3>Our<span class="indigo-text text-darken-4">Developers</span></h3>
        </div>
      </div>
      <div class="row left-align">
        <div class="col s12 m10 offset-m1 l6">
          <div class="card horizontal ">
            <div class="card-image">
              <img src="/images/profile1.jpg" alt="">
            </div>
            <div class="card-stacked small">
              <div class="card-content cardprofile">
                <u>Kanishka Joshi</u><br>Computer Science<br>
                LOVELY PROFESSIONAL UNIVERSITY, Punjab
              </div>
              <div class="card-action">
                <!-- <a href="https://facebook.com">
                  <i class="fab fa-facebook indigo-text text-darken-4"></i>
                </a> -->
                <!-- <a href="https://twitter.com">
                  <i class="fab fa-twitter indigo-text text-darken-4"></i>
                </a> -->
                <a href="https://linkedin.com">
                  <i class="fab fa-linkedin-in indigo-text text-darken-4"></i>
                </a>
                <a href="https://instagram.com">
                  <i class="fab fa-instagram indigo-text text-darken-4"></i>
                </a>            
                <!--<a href="https://instagram.com">
                  <i class="fab fa-tumblr-square"></i>
                </a>-->
              </div>
            </div>
          </div>
        </div>
  
        <div class="col s12 m10 offset-m1 l6">
          <div class="card horizontal ">
            <div class="card-image">
              <img src="/images/profile2.jpg" alt="">
            </div>
            <div class="card-stacked">
              <div class="card-content cardprofile">
                <u>Vinay Kumar Yadav</u><br>Computer Science<br>
                LOVELY PROFESSIONAL UNIVERSITY, Punjab
              </div>
              <div class="card-action">
                <a href="https://facebook.com">
                  <i class="fab fa-facebook indigo-text text-darken-4"></i>
                </a>
                <!-- <a href="https://twitter.com">
                  <i class="fab fa-twitter indigo-text text-darken-4"></i>
                </a> -->
                <a href="https://instagram.com">
                  <i class="fab fa-instagram indigo-text text-darken-4"></i>
                </a>
                <a href="https://linkedin.com">
                  <i class="fab fa-linkedin-in indigo-text text-darken-4"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col s12 m10 offset-m1 l6">
          <div class="card horizontal ">
            <div class="card-image">
              <img src="/images/profile3.jpg" alt="">
            </div>
            <div class="card-stacked">
              <div class="card-content cardprofile">
                <u>Pranjal Tiwari</u><br>Computer Science<br>
                LOVELY PROFESSIONAL UNIVERSITY, Punjab
              </div>
              <div class="card-action">
                <!-- <a href="https://facebook.com">
                  <i class="fab fa-facebook indigo-text text-darken-4"></i>
                </a> -->
                <a href="https://twitter.com">
                  <i class="fab fa-twitter indigo-text text-darken-4"></i>
                </a>
                <a href="https://instagram.com">
                  <i class="fab fa-instagram indigo-text text-darken-4"></i>
                </a>
                <a href="https://linkedin.com">
                  <i class="fab fa-linkedin-in indigo-text text-darken-4"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col s12 m10 offset-m1 l6">
          <div class="card horizontal ">
            <div class="card-image">
              <img src="/images/profile4.jpg" alt="">
            </div>
            <div class="card-stacked">
              <div class="card-content cardprofile">
                <u>Harshit Rai</u><br>Computer Science<br>
                LOVELY PROFESSIONAL UNIVERSITY, Punjab
              </div>
              <div class="card-action">
                <a href="https://facebook.com">
                  <i class="fab fa-facebook indigo-text text-darken-4"></i>
                </a>
                <!-- <a href="https://twitter.com">
                  <i class="fab fa-twitter indigo-text text-darken-4"></i>
                </a> -->
                <a href="https://instagram.com">
                  <i class="fab fa-instagram indigo-text text-darken-4"></i>
                </a>
                <a href="https://instagram.com">
                  <i class="fab fa-linkedin-in indigo-text text-darken-4"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  </section>

  <!--Section Features-->
  <section class="section section-features grey lighten-3">
      <div class="container">
        
        <div class="center">
          <a href="#modal1" class="btn btn-large grey modal-trigger">Subscribe For Free</a>
          <br><br>
          <h5>
            <span class="deep-purple-text text-lighten-1">Have a Suggestion or Request? </span>Contact our support team
          </h5>
          <p>guidehubz@gmail.com</p>
        </div>
      </div>
    </section>


{% endblock %}