{% extends "base.html" %} {% block title %} HOME {% endblock %}



{% block body %}


<!--Section Icon Box-->

<section class="section section-icons center">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="card card-panel small">
          <i class="fa fa-clipboard fa-3x indigo-text text-darken-4"></i>
          <h5 class="grey-text text-darken-4">Exam Papers</h5>
          <p>We provide a large set of previous year exam papers to download easily!</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card card-panel small">
          <i class="fa fa-bell fa-3x indigo-text text-darken-4"></i>
          <h5 class="grey-text text-darken-4">Email Alerts</h5>
          <p>By subscribing to our website, you can get the latest updates on your email!</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card card-panel small">
          <i class="fa fa-bolt fa-3x indigo-text text-darken-4"></i>
          <h5 class="grey-text text-darken-4">Latest Updates</h5>
          <p>All the contents get updated regularly with the latest updates!</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Section Two Modules -->
<section class="section center grey lighten-4">
  <div class="container">
    <div class="row ">
      <div class="col s12 m6">
        <div class="card card-panel large">
          <div class="card-image">
            <img src="./images/exampaper.jpg" alt="study">
          </div>
          <div class="card-content">
            <h5 class="indigo-text text-darken-4">Exam Papers</h5>
            <p>
              Download previous year papers in various categories.</p>
          </div>
          <a href="/exampapers" class="white-text">
            <div class="card-action indigo darken-4">
              Click here!
            </div>
          </a>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card card-panel large">
          <div class="card-image">
            <img src="./images/joblist.jpg" alt="study">
          </div>
          <div class="card-content">
            <h5 class="indigo-text text-darken-4">Listed Jobs</h5>
            <p>Check out the latest job openings in this section.</p>
          </div>
          <a href="/Joblist" class="white-text">
            <div class="card-action indigo darken-4">
              Click here!
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section About-->
<section class="section section-about grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h3><span class="indigo-text text-darken-4">About</span>Us</h3>
        <p>The website has an objective of providing support and opportunities to the users for their career.</p>
      </div>
      <div class="col s12 m6">
        <img src="images/tech.jpg" alt="tech" class="circle responsive-img">
      </div>
    </div>
  </div>
</section>


<!--Section Subscribe-->
<section class="section section-podcast white-text">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="col s12 m8">
          <h4>Get The Latest Updates</h4>
          <p>Weekly update notifications to your mail</p>
        </div>
        <div class="col s12 m4">
          <a class="btn white indigo-text text-darken-4 btn-larger modal-trigger" href="#modal1">
            Subscribe<i class="material-icons  right"> notifications_active</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Testinomials -->
<section class="section section-testimonial grey lighten-4 black-text text-darken-4">
  <div class="container">
    <div class="row left-align">
      <div class="col s12 m6">
        <h3>Our<span class="indigo-text text-darken-4">Developers</span></h3>
      </div>
    </div>
    <div class="row left-align">
      <div class="col s12 m10 offset-m1 l6">
        <div class="card horizontal ">
          <div class="card-image">
            <img src="/images/profile1.jpg" alt="">
          </div>
          <div class="card-stacked small">
            <div class="card-content cardprofile">
              <u>Kanishka Joshi</u><br>Computer Science<br>
              LOVELY PROFESSIONAL UNIVERSITY, Punjab
            </div>
            <div class="card-action">
              <!-- <a href="https://facebook.com">
                <i class="fab fa-facebook indigo-text text-darken-4"></i>
              </a> -->
              <!-- <a href="https://twitter.com">
                <i class="fab fa-twitter indigo-text text-darken-4"></i>
              </a> -->
              <a href="https://linkedin.com">
                <i class="fab fa-linkedin-in indigo-text text-darken-4"></i>
              </a>
              <a href="https://instagram.com">
                <i class="fab fa-instagram indigo-text text-darken-4"></i>
              </a>            
              <!--<a href="https://instagram.com">
                <i class="fab fa-tumblr-square"></i>
              </a>-->
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m10 offset-m1 l6">
        <div class="card horizontal ">
          <div class="card-image">
            <img src="/images/profile2.jpg" alt="">
          </div>
          <div class="card-stacked">
            <div class="card-content cardprofile">
              <u>Vinay Kumar Yadav</u><br>Computer Science<br>
              LOVELY PROFESSIONAL UNIVERSITY, Punjab
            </div>
            <div class="card-action">
              <a href="https://facebook.com">
                <i class="fab fa-facebook indigo-text text-darken-4"></i>
              </a>
              <!-- <a href="https://twitter.com">
                <i class="fab fa-twitter indigo-text text-darken-4"></i>
              </a> -->
              <a href="https://instagram.com">
                <i class="fab fa-instagram indigo-text text-darken-4"></i>
              </a>
              <a href="https://linkedin.com">
                <i class="fab fa-linkedin-in indigo-text text-darken-4"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m10 offset-m1 l6">
        <div class="card horizontal ">
          <div class="card-image">
            <img src="/images/profile3.jpg" alt="">
          </div>
          <div class="card-stacked">
            <div class="card-content cardprofile">
              <u>Pranjal Tiwari</u><br>Computer Science<br>
              LOVELY PROFESSIONAL UNIVERSITY, Punjab
            </div>
            <div class="card-action">
              <!-- <a href="https://facebook.com">
                <i class="fab fa-facebook indigo-text text-darken-4"></i>
              </a> -->
              <a href="https://twitter.com">
                <i class="fab fa-twitter indigo-text text-darken-4"></i>
              </a>
              <a href="https://instagram.com">
                <i class="fab fa-instagram indigo-text text-darken-4"></i>
              </a>
              <a href="https://linkedin.com">
                <i class="fab fa-linkedin-in indigo-text text-darken-4"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m10 offset-m1 l6">
        <div class="card horizontal ">
          <div class="card-image">
            <img src="/images/profile4.jpg" alt="">
          </div>
          <div class="card-stacked">
            <div class="card-content cardprofile">
              <u>Harshit Rai</u><br>Computer Science<br>
              LOVELY PROFESSIONAL UNIVERSITY, Punjab
            </div>
            <div class="card-action">
              <a href="https://facebook.com">
                <i class="fab fa-facebook indigo-text text-darken-4"></i>
              </a>
              <!-- <a href="https://twitter.com">
                <i class="fab fa-twitter indigo-text text-darken-4"></i>
              </a> -->
              <a href="https://instagram.com">
                <i class="fab fa-instagram indigo-text text-darken-4"></i>
              </a>
              <a href="https://instagram.com">
                <i class="fab fa-linkedin-in indigo-text text-darken-4"></i>
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>


{% endblock %}