<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Vollkorn:600i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link type="text/css" rel="stylesheet" href="../../../css/materialize.css" media="screen, projection" />
  <link type="text/css" rel="stylesheet" href="../../../css/main.css" />
  <link type="text/css" rel="stylesheet" href="../../css/materialize.css" media="screen, projection" />
  <link type="text/css" rel="stylesheet" href="../../css/main.css" />
  <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen, projection" />
  <link type="text/css" rel="stylesheet" href="../css/main.css" />
  <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen, projection" />
  <link type="text/css" rel="stylesheet" href="/css/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600" rel="stylesheet">

  <link rel="icon" type="image/png" href="images/icon.png">
  <link rel="icon" type="image/png" href="/images/icon.png">
  <link rel="icon" type="image/png" href="../images/icon.png">
  <link rel="icon" type="image/png" href="../../images/icon.png">
  <link rel="icon" type="image/png" href="../../../images/icon.png">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{% block title %}{% endblock %}</title>
  
  <style>

        .tabs .tab.tabjobcustom a{
            background-color:#EEEEEE;
            color:#000;
        } /*Black color to the text*/

        .tabs .tab.tabjobcustom a:hover {
            background-color:#F8BBD0;
            color:#000;
        } /*Text color on hover*/

        .tabs .tab.tabjobcustom .active {
            background-color:#F48FB1;
            color:#000;
        } /*Background and text color when a tab is active*/

        .tabs .indicator {
            background-color: #EEEEEE;
        } /*Color of underline*/

      .carousel.innercarousel p {
        color :#EEEEEE;
      }

      .card.cardsquare {width:200px;height:200px;}
  </style>
  
  
</head>

<body>



  <!--Header-->
  <header class="main-header-inner">
    <div class="primary-overlay ">
      <div class="navbar-fixed">
        <nav class="transparent">
          <div class="container">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">GuideHub<span class="pink-text text-lighten-2">Z</span></a>
              <a href="#" data-activates="mobile-nav" class="button-collapse">
                <i class="fa fa-bars"></i>
              </a>
              <ul class="right hide-on-med-and-down">
                <li>
                   <a href="/">Home</a>
                </li>
                <li>
                  <a href="/Home/aboutus">About Us</a>
                </li>
                <li>
                  <a href="/Exampapers">Exam Papers</a>
                </li>
                <li>
                  <a href="/Joblist">Job Listings</a>
                </li>
                <li>
                  <a href="https://facebook.com">
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/guidehubz/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <ul class="side-nav" id="mobile-nav">
        <h4 class="indigo-text text-darken-4 center">
          GuideHub<span class="pink-text text-lighten-2">Z</span></h4>
        <li>
          <div class="divider"></div>
        </li>
        <li>
          <a href="/">
            <i class="fa fa-home grey-text text-darken-4"></i> Home</a>
        </li>
        <li>
          <a href="/Home/aboutus">
            <i class="fa fa-cog grey-text text-darken-4"></i> About Us</a>
        </li>
        <li>
          <a href="/Exampapers">
            <i class="fa fa-users grey-text text-darken-4"></i> Exam Papers</a>
        </li>
        <li>
          <a href="/Joblist">
            <i class="fa fa-users grey-text text-darken-4"></i> Job Listings</a>
        </li>
      </ul>
      
      <!--Showcase-->
      <div class="showcase container">
        <div class="row">
          <div class="col s12 m10 offset-m1 center">
            <!-- <h3>Welcome To <br><span class="logo-underline">The Source of Guidance</span></h3> -->
            <div class="carousel innercarousel">
              {% for i in 0 .. 4 %}
                {% if carouselData[i] is defined %}
              <a class="carousel-item" href="#one!">
                <span class="new badge red"></span>
                <p class="card-panel blue-text text-darken-4">
                  {{carouselData[i].title}}
                </p>
              </a>
              {% else %}
              <a class="carousel-item" href="#one!">
                <p class="card-panel blue-text text-darken-4">
                  Updates Coming Soon
                </p>
              </a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </header>



  {% block body %} {% endblock %}




  <!--Footer-->
  <footer class="page-footer indigo darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">The primary goal of the website is to reduce unemployment and provide support with sufficient information as well as content related to vacancies of government as well as private sector</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="/Home/aboutus">About Us</a></li>
            <li><a class="grey-text text-lighten-3" href="/Home/aboutus">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        GuideHubZ © 2018-19 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">Terms & Condtions</a>
      </div>
    </div>
  </footer>



  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <form action="/Subscribe" method="post" onSubmit="return SubscribeFun()">
        <div class="input-field">
          <input type="email" name="email" id="email">
          <label for="email">Your email</label>
        </div>
        <button name="submit" class="waves-effect waves-indigo btn-flat indigo-text text-darken-4 right">Subscribe</button>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat ">Cancel</a>
      </form>
    </div>
    <!--<div class="modal-footer"></div>-->
  </div>


  <!--<script type="text/javascript" src="js/jquery-3.3.1.js"></script>-->

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.js"></script>
  <!--<script type="text/javascript" src="js/materialize.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="../../js/materialize.js"></script>
  <script type="text/javascript" src="../../../js/materialize.js"></script>-->
  <script>
    $(document).ready(function () {
      $('.button-collapse').sideNav();
      $('.tabs').tabs();
      $('.carousel').carousel({
        // dist: 0,
        padding: 200,
        fullWidth: false,
        indicators: false,
        duration: 500,
      });
      
      autoplay();
      function autoplay() {
        $('.carousel').carousel('next',);
        setTimeout(autoplay, 4000);
      }
      $('.modal').modal({
        inDuration: 1000,
        dismissible: false,
        startingTop: '80%',
        endingTop: '20%',
        preventScrolling: true,
      }
      );
      //ScrollFire
      const options = [
        {
          selector: '.main-text', offset: 0, callback: function (el) {
            Materialize.fadeInImage($(el));
          }
        },
        {
          selector: '.navbar-fixed', offset: 970, callback: function () {
            $('nav').removeClass('transparent')
            $('nav').addClass('indigo darken-4');
          }
        }
      ];
      Materialize.scrollFire(options);
    });

    $("submit").click(function (event) {
      event.preventDefault();
    });


    function SubscribeFun() {
      var email = document.getElementById('email').value;
      if (/^([A-Za-z0-9_\-\.])+\@(gmail|GMAIL)\.(com|COM)$/.test(email)) {
        return true;
      }
      alert("You have entered an invalid email address!");
      return false;
    }

  </script>

</body>

</html>